{% extends 'base/base.html' %}
{% load static %}
{% block title %} Video Aperitivos: Motivação {% endblock title%}
{% block description %} Pagina com video gratuito Python Pro {% endblock description%}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="center>
                <div class=" row
            ">
            <div class="card">
                <h5 class="mt-4 mb-3">
                    {{ video.titulo | default:"Faltando Título" }}</h5>

                <iframe src="https://player.vimeo.com/video/{{video.vimeo_id}}?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                        width="400" height="225" frameborder="0"
                        allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                        title="AULA 02 - Como INSTALAR O PYTHON no WINDOWS_ &amp;mdash; Curso de Python Gr&amp;aacute;tis"></iframe>


            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock body %}
