{% extends 'base/base.html' %}
{% load static %}
{% block title %} Python Pro - Home{% endblock title%}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Curso de Python com Luciano Ramalho
                </h2>
                <h3 class="mt-4">MATRIULAS ABERTAS!! CUSTO R$ 1.000,00 </h3>
                <!-- INICIO DO BOTAO PAGSEGURO --><a href="https://pag.ae/7Xe4rjbw8/button" target="_blank"
                                                     title="Pagar com PagSeguro"><img
                    src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar.gif"
                    alt="Pague com PagSeguro - é rápido, grátis e seguro!"/></a><!-- FIM DO BOTAO PAGSEGURO -->
                <!--                <h3 class="mt-4">Entre na fila de espera</h3>-->
                <!--                <form action="https://gmail.us6.list-manage.com/subscribe/post?u=82f6973075294a3c9515b89e5&amp;id=530a5c07d9"-->
                <!--                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"-->
                <!--                      class="form-row align-items-center" target="_blank" novalidate>-->

                <!--                    <div class="form-row align-items-center">-->
                <!--                        <div class="col-auto">-->
                <!--                            <label class="sr-only" for="mce-EMAIL">Email</label>-->
                <!--                            <input type="email" value="" name="EMAIL" class="form-required" id="mce-EMAIL"-->
                <!--                                   placeholder="exempo@email.com">-->
                <!--                        </div>-->
                <!--                        <div class="col-auto">-->
                <!--                            <label class="sr-only" for="mce-FNAME">Email</label>-->
                <!--                            <input type="text" value="" name="FNAME" class="" id="mce-FNAME"-->
                <!--                                   placeholder="Seu nome">-->
                <!--                        </div>-->

                <!--                        <div class="col-auto">-->
                <!--                            <input type="submit" value="Salvar" name="subscribe" id="mc-embedded-subscribe"-->
                <!--                                   class="btn btn-primary">-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </form>-->

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h5 class="card-header">
                            Mais detalhes sobre o instrutor
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                                <img src="{% static 'img/ramalho.png' %}" alt="Foto de Luciano Ramalho"
                                     class="img-thumbnail float-left mr-3"/>
                                <a href="https://www.oreilly.com/library/view/fluent-python/9781491946237/">
                                    Luciano Ramalho</a> é sócio e professor na <a href="http://python.pro.br">
                                Python.pro.br</a>.
                                Foi diretor técnico do <a href="http://pt.wikipedia.org/wiki/Brasil_Online"> Brasil
                                Online</a>,
                                primeiro portal da Abril S/A na Web. Liderou times para os portais IDG Now, BOL, UOL,
                                AOL Brasil e outros, usando Python desde 1998.
                                Como instrutor, atendeu clientes como Globo.com, Sesc, Itaú, Serpro e Presidência da
                                República.
                                Ajudou a criar a Associação Python Brasil e foi seu presidente.
                                É membro da Python Software Foundation e um dos fundadores do
                                <a href="https://garoa.net.br">Garoa Hacker Clube</a>, o primeiro hackerspace do Brasil.
                                Já palestrou várias vezes em eventos internacionais como FISL,
                                <a href="http://www.oscon.com/oscon2013/public/schedule/detail/29389">O’Reilly Open
                                    Source Convention</a>
                                e <a href="https://us.pycon.org/2013/speaker/profile/165/">PyCon US</a>.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}